.form-group(style="margin-top:4px; margin-bottom:3px;")
  //- button.spSubmit.btn.btn-primary.btn-sm(type="submit") Set
  label() Balance Setpoints High
  input#spHighBalance.spVal(size="2")
  label() Low
  input#spLowBalance.spVal(size="2")
