.form-group(style="margin-top:4px; margin-bottom:3px;")
  //- button.spSubmit.btn.btn-primary.btn-sm(type="submit") Set
  label() Voltage Setpoints High
  input#spHighVolt.spVal(size="2")
  label() Low
  input#spLowVolt.spVal(size="2")
