extends layout

block content

  style. 
    .go { background-color: green; color: black; } 
    .nogo { background-color: red; color: black; } 

  input#str_id(type="hidden",value="#{str_id}")
  .container
    .row  
      .col Environment and Safety Monitoring
      .col-3
        span#time Time
      hr
  .container

    .row.border(style="background-color: wheat;padding:7px;")
      .col-4
        table.maxmin(class="table table-bordered border-dark",style="width:90%;font-size:25px;")
          tr
            th#batt_smoke Battery Smoke 
          tr
            th#batt_fire_1 Battery Fire 1 
          tr
            th#batt_fire_2 Battery Fire 2 
          tr
            th#batt_temp Battery Temp 
          tr
            th#batt_h2_1 Battery H2 1 
          tr
            th#batt_h2_2 Battery H2 2 
      .col-4
        table.maxmin(class="table table-bordered border-dark",style="width:90%;font-size:25px;")
          tr
            th#machine_smoke Machine Smoke 
          tr
            th#machine_fire Machine Fire 
          tr
            th#machine_temp_1 Machine Temp 1 
          tr
            th#machine_temp_2 Machine Temp 2 
      .col-4
        table.maxmin(class="table table-bordered border-dark",style="width:90%;font-size:25px;")
          tr
            th#ee_smoke EE Smoke 
          tr
            th#ee_fire EE Fire 
          tr
            th#ee_temp EE Temp 

  style.
    table tr td {text-align:center;width:120px;}

  script.
    $( document ).ready( () => {
      getSetPoints()   
    
      data_xhr = get_env_data
      data_xhr()
      //document.getElementById("chg1").classList.add("active");
    })


