extends layout

block content

  .container
    .row  
      .col.h4 Environment and Safety Monitoring
      .col-3
        span#time Time
      hr
  .container

    .row.border.strrow.p-3.ms-2.shadow()
      .col-4
        table.table.table-bordered.border-dark.shadow.text-center(style="width:90%;font-size:25px;")
          tr
            th#batt_smoke_blk Battery Smoke
              .fs-5
                span ( 
                span#batt_smoke
                span  v ) 
          tr
            th#batt_fire_1_blk Battery Fire 1
              .fs-5
                span ( 
                span#batt_fire_1
                span  v ) 
          tr
            th#batt_fire_2_blk Battery Fire 2
              .fs-5
                span ( 
                span#batt_fire_2
                span  v ) 
          tr
            th#batt_temp_blk Battery Temp 
              .fs-5
                span ( 
                span#batt_temp
                span  째F )
          tr
            th#batt_h2_1_blk Battery H2 1
              .fs-5
                span ( 
                span#batt_h2_1
                span  v)
          tr
            th#batt_h2_2_blk Battery H2 2 
              .fs-5
                span ( 
                span#batt_h2_2
                span  v )
      .col-4
        table.table.table-bordered.border-dark.shadow.text-center(style="width:90%;font-size:25px;")
          tr
            th#machine_smoke_blk Machine Smoke
              .fs-5
                span ( 
                span#machine_smoke
                span  v )
          tr
            th#machine_fire_blk Machine Fire 
              .fs-5
                span ( 
                span#machine_fire
                span  v )
          tr
            th#machine_temp_1_blk Machine Temp 1 
              .fs-5
                span ( 
                span#machine_temp_1
                span  째F )
          tr
            th#machine_temp_2_blk Machine Temp 2 
              .fs-5
                span ( 
                span#machine_temp_2
                span  째F )
      .col-4
        table.table.table-bordered.border-dark.shadow-lg.text-center(style="width:90%;font-size:25px;")
          tr
            th#ee_smoke_blk EE Smoke
              .fs-5
                span ( 
                span#ee_smoke
                span  v )
          tr
            th#ee_fire_blk EE Fire 
              .fs-5
                span ( 
                span#ee_fire
                span  v )
          tr
            th#ee_temp_blk EE Temp 
              .fs-5
                span ( 
                span#ee_temp
                span  째F )

  style.
    

  script.
    $( document ).ready( () => {
      getSetPoints()   
    
      data_xhr = get_env_data
      data_xhr()
      document.getElementById("env").classList.add("active");
    })


