extends layout

block content

  style. 
    .go { background-color: green; color: black; } 
    .nogo { background-color: red; color: black; } 

  input#str_id(type="hidden",value="#{str_id}")
  .container
    .row  
      .col-xs Environment and Safety Monitoring
      hr
  .container

    .row.border(style="background-color: wheat;padding:7px;")
      .col-4
        table.maxmin(class="table table-bordered border-dark",width="100%")
          tr
            th Battery Smoke 
            td.go#batt_smoke &nbsp; 1
          tr
            th Battery Fire 1 
            td.nogo#batt_fire_1(width="100px") &nbsp; 2
          tr
            th Battery Fire 2 
            td#batt_fire_2(style="background-color:red;") &nbsp;
          tr
            th Battery Temp 
            td#batt_temp &nbsp;
          tr
            th Battery H2 1 
            td#batt_h2_1 &nbsp;
          tr
            th Battery H2 2 
            td#batt_h2_2
      .col-4
        table.maxmin(class="table table-bordered border-dark",width="100%")
          tr
            th Machine Smoke 
            td#machine_smoke(width="100px")
          tr
            th Machine Fire 
            td#machine_fire
          tr
            th Machine Temp 1 
            td#machine_temp_1
          tr
            th Machine Temp 2 
            td#machine_temp_2
      .col-4
        table.maxmin(class="table table-bordered border-dark",width="100%")
          tr
            th EE Smoke 
            td#ee_smoke(width="100px")
          tr
            th EE Fire 
            td#ee_fire
          tr
            th EE Temp 
            td#ee_temp

  script.
    $( document ).ready( () => {
      getSetPoints()   
    
      data_xhr = get_env_data
      data_xhr()
      //document.getElementById("chg1").classList.add("active");
    })


