doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bems_common.css')

    script(src='/jquery.min.js')

    
    <!-- Bootstrap -->
    script(src='/js/bootstrap.min.js')
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    script(src="/javascripts/bems_data_hdlr.js")
    <meta name="theme-color" content="#712cf9">

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
      .container
        a.navbar-brand(href='#') BEMS


    block content
