doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bems_common.css')

    <script language="javascript" src="/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <script language="javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script language="javascript" src="/javascripts/bems_data_hdlr.js"></script>
    <meta name="theme-color" content="#712cf9">

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
      .container
        a.navbar-brand(href='#') BEMS


    block content
