extends layout

block content

  input#str_id(type="hidden",value=str_id)
  .container
    .row  
      .col-xs String <span id="str_lbl">#{str_lbl}</span> Voltage <span id="vSum"></span> Voltage Ave <span id="vAve"></span>
      hr
  .container

    .row.border(style="background-color: #d0d4c0;")
      .col-2
        table.maxmin(class="table-bordered caption-top")
          caption= "Maximum Voltages"
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr
              td(id="VmaxTray" + row)
              td 
                span(id="VmaxVal" + row) 
                span  v
              - row++
        table.maxmin
          tr
            td High Voltage Trays
            td#numHighVolt 
            td 

      .col-3
        table.maxmin.table-bordered.caption-top()
          caption= "Minimum Voltages"
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr
              td(id="VminTray" + row )
              td
                span(id="VminVal" + row) 
                span  v
              - row++
        table.maxmin
          tr
            td Low Voltage Trays
            td#numLowVolt 
            td

      .col-7
        table(class="table-bordered caption-top traytbl", style="width:400px")
          caption Tray Voltages
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="v" +cell_cnt, title="v" + cell_cnt) &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
        include includes/spVolts.jade
    .row(style="margin-top:10px; background-color: #d0d4c0;")
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Maximum Temperature
          th Tray 
          th 째F

          - var row = 0
          while (row < 10)
            tr
              td(id="TmaxTray" + row)
              td 
                span(id="TmaxVal" + row) 
                span  째F
              - row++
        table.maxmin
          tr
            td High Temp Trays
            td#numHighTemp 
            td
      .col-2
      .col-4
        table(class="table-bordered caption-top", style="width:400px")
          caption Tray Temperatures 째F
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="t" + cell_cnt) &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
        include includes/spTemp.jade
    .row(style="margin-top:10px; background-color: #d0d4c0;")
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Minumum 
          th Balance
          th %
          - var row = 0
          while (row < 10)
            tr
              td(id="BmaxTray" + row)
              td 
                span(id="BmaxVal" + row) 
                span  째F
              - row++
        table.maxmin
          tr
            td Minimum Balance Trays
            td#numLoBalance 
            td
      .col-2
      .col-4
        table(class="table-bordered caption-top", style="width:400px")
          caption Tray Balance Percent
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="b" + cell_cnt) &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
    .row(style="margin-top:10px; background-color: #d0d4c0;")
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Maximum 
          th Impedance
          th mOhm
          - var row = 0
          while (row < 10)
            tr
              td(id="RmaxTray" + row)
              td 
                span(id="RmaxVal" + row) 
                span  &nbsp;
              - row++
        table.maxmin
          tr
            td Maximum Impedance Trays
            td#numHighImpedance 
            td
      .col-2
      .col-4
        table(class="table-bordered caption-top", style="width:400px")
          caption Tray Impedance mOhm
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="r" + cell_cnt) &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++

  script.
    $( document ).ready( () => {
      getSetPoints()   

      data_xhr = get_str_data
      data_xhr()

      //document.getElementById("str").classList.add("active");
    })