extends layout

block content

  input#str_id(type="hidden",value=str_id)
  .container
    .row  
      .col-xs String <span id="str_lbl">#{str_lbl}</span> Voltage <span id="vSum"></span> Voltage Ave <span id="vAve"></span>
      hr
  .container

    .row.border.border-primary.strrow.ms-1()
      .col-2
        table.maxminVolt.maxmin(class="table-bordered caption-top")
          caption Max Voltages
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr(id="vMaxRow" + row)
              td(id="vMaxKey" + row)
              td(id="vMaxVal" + row) 
              - row++
        table.maxminnum
          tr
            td High Volt Trays
            td#vNumHigh 
            td 

      .col-3
        table.maxminVolt.maxmin.table-bordered.caption-top()
          caption Min Voltages
          th Tray 
          th Volts

          - var row = 0
          while (row < 10)
            tr(id="vMinRow" + row)
              td(id="vMinKey" + row )
              td(id="vMinVal" + row)
              - row++
        table.maxminnum
          tr
            td Low Volt Trays
            td#vNumLow 
            td

      .col-7
        table(class="table-bordered caption-top traytbl")
          caption Tray Voltages
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="v" +cell_cnt, title="v" + cell_cnt) &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
        include includes/spVolts.pug
    .row.border.border-primary.strrow.mt-3.ms-1()
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Max Temperature
          th Tray 
          th °F

          - var row = 0
          while (row < 10)
            tr(id="tMaxRow" + row)
              td(id="tMaxKey" + row)
              td(id="tMaxVal" + row) 
              - row++
        table.maxminnum
          tr
            td High Temp Trays
            td#tNumHigh 
            td
      .col-2
      .col-4
        table(class="table-bordered caption-top traytbl", style="width:400px")
          caption Tray Temperatures °F
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="t" + cell_cnt) &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
        include includes/spTemp.pug
    .row.border.border-primary.strrow.mt-3.ms-1()
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Max Balance 
          th Tray
          th %
          - var row = 0
          while (row < 10)
            tr(id="bMaxRow" + row)
              td(id="bMaxKey" + row)
              td(id="bMaxVal" + row) 
              - row++
        table.maxminnum
          tr
            td High Balance Trays
            td#bNumHigh 
            td
      .col-2
      .col-4
        table(class="table-bordered caption-top traytbl", style="width:400px")
          caption Tray Balance Percent
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="b" + cell_cnt) &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
        include includes/spBalance.pug
    .row.border.border-primary.strrow.my-3.ms-1()
      .col-3
        table.maxmin.table-bordered.caption-top()
          caption Max Impedance
          th Tray
          th mOhm
          - var row = 0
          while (row < 10)
            tr(id="rMaxRow" + row)
              td(id="rMaxKey" + row)
              td(id="rMaxVal" + row) 
              - row++
        table.maxminnum
          tr
            td High Impedance Trays
            td#rNumHigh 
          
      .col-2
      .col-4
        table(class="table-bordered caption-top traytbl", style="width:400px")
          caption Tray Impedance mOhm
          - var offset_cell = str_id * 70 + 1 
          - var rows = 7
          - var cols = 10
          - var row_cnt = 0
          while (row_cnt < rows)
            tr
              - var col_cnt = 0
              while (col_cnt < cols)
                - cell_cnt = offset_cell + col_cnt
                td.cfs(id="r" + cell_cnt) &nbsp;
                - col_cnt++
              - offset_cell = offset_cell + cols
              - row_cnt++
        include includes/spImpedance.pug

  script.
    $( document ).ready( () => {
      getSetPoints()   

      data_xhr = get_str_data
      data_xhr()

      //document.getElementById("str").classList.add("active");
    })